*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial;
}

body{
    background:#f4f4f4;
    color:#222;
    transition:0.3s;
}

header{
    background:#0047AB;
    color:white;
    padding:20px;
    text-align:center;
}

nav ul{
    display:flex;
    justify-content:center;
    gap:20px;
    list-style:none;
    margin-top:10px;
}

nav a{
    color:white;
    text-decoration:none;
    font-weight:bold;
}

.hero{
    padding:60px;
    text-align:center;
}

.cards{
    display:flex;
    justify-content:center;
    gap:20px;
    flex-wrap:wrap;
    padding:40px;
}

.card{
    background:white;
    width:300px;
    padding:20px;
    border-radius:10px;
    box-shadow:0 0 10px rgba(0,0,0,0.1);
}

.card button{
    margin-top:15px;
    padding:10px 20px;
    border:none;
    background:#0047AB;
    color:white;
    border-radius:5px;
    cursor:pointer;
}

.news{
    padding:40px;
    text-align:center;
}

.news input{
    padding:10px;
    width:300px;
    margin-bottom:20px;
}

.news ul{
    list-style:none;
}

.news li{
    background:white;
    margin:10px auto;
    width:400px;
    padding:10px;
    border-radius:5px;
}

.contact{
    padding:40px;
    text-align:center;
}

form{
    display:flex;
    flex-direction:column;
    gap:15px;
    max-width:400px;
    margin:auto;
}

form input,
form textarea{
    padding:12px;
}

form button{
    padding:12px;
    background:#0047AB;
    color:white;
    border:none;
    cursor:pointer;
}

footer{
    background:#222;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:40px;
}


.dark{
    background:#111;
    color:white;
}

.dark .card,
.dark .news li{
    background:#222;
    color:white;
}
